body {
  background-color: #daecda;
  color: #121113;
}

*{
  margin: 0px;
}

p {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  text-align: justify;
  color: #121113;
  font-weight: 500;
}

h1 {
  font-family: "Oswald", sans-serif;
  color: #899878;
  font-weight: bold;
  font-weight: 3000;
  font-size: 80px;
  text-align: center;
  border-radius: 50px;
}

h2 {
  color: rgb(54, 85, 54);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-decoration: none;
  font-size: 35px;
}

h3 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  color: rgb(54, 85, 54);
}

h4 {
  font-size: 22px;
  line-height: 8px;
  color: #222725a6;
}

li:nth-child(odd) {
  font-style: italic;
}

#saiba_mais {
  color: white;
  font-family: "Monserrat Alternates",sans-serif;
  padding: 9px;
  text-transform: uppercase;
  background-color: rgb(54, 85, 54);
  border-radius: 15px;
  text-decoration: none;
  
}

#name {
  text-align: center;
}

#header {
  margin: auto;
  padding: 50px;
  display: inline-block;
}

#header-content {
  width: 90%;
  margin:auto;
}


.description {
  width: 45%;
  margin: 30px;
  display: inline-block;
}

.description img {
  position: relative;
  left: 180px;
  top:30px;
}

.description p {
  font-size: 24px;
  max-width: 65%;
}

.image{
  border-radius:300px;
  width: 500px;
  margin: auto;
  padding: 12px;
  background-color: rgb(54, 85, 54); ;
  
}

.portfolio-menu-buttons{
  background-color: rgb(54, 85, 54);;
  padding: 12px;
  margin:10px;
  border-radius: 20px;
  display: inline-block;
  }

.portfolio-menu-buttons a {
  color: #121113;
  text-decoration-line: none;
}

#portifolio-menu {
  margin: 0% 0% 0% 37%;
  padding: 15px;
}

#habilidades_lista {
    margin: 0 0 10px 10px;
}

.softskill {
  font-size: 23px;
  font-weight: bold;
  color: #66324c;
}

.dev {
  font-size: 20px;
  font-weight: bold;
  color: #85546ce1;
}

.audiovisual {
  font-size: 20px;
  font-weight: bold;
  color: #85546cbb;
}

.dance {
  font-size: 20px;
  font-weight: bold;
  color: #a8356dc9;
}
